body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(180deg, #000000, #001F54);
    color: #D1D1E9;
}

header {
    background-image: url(bg.jpg);
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#search-criteria {
    padding: 10px;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 18px;
}

#search {
    padding: 50px;
    text-align: center;
}

#search-bar {
    width: 60%;
    padding: 10px;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    background-color: #FF5733;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

#content {
    padding: 50px;
    display: flex;
    justify-content: space-around;
}

#overview {
    background-color: #0B3D91;
    padding: 20px;
    border-radius: 10px;
    width: auto;
    height: 200px;
    margin: 10px;
}
#do-you-know {
    background-color: #0B3D91;
    padding: 20px;
    border-radius: 10px;
    width: auto;
    margin:10px;    
}

footer {
    background-color: #0B3D91;
    padding:5px;
    text-align: center;
    color: #FFFFFF;
    align-items: end;
}